/* 设置第三页的样式 */
.page3{
    background-image: url(images/cool-background\ \(3\).png);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.page3 .container{
    width: 100%;
    height:90%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title{
    height: 100%;
    width: 15%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h2{
    color: rgba(75, 121, 116,0.8);
    font-size: 70px;
    width: 70px;
    
}

.cardbox{
    height: 100%;
    width: 45%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255,255,255,0.4);
}
.cardbox .card{
    height: 30%;
    width: 90%;
    /* border: 1px solid black; */
    display: flex;
    overflow: hidden;
    box-shadow: 1px 2px 6px 2px rgba(75, 121, 116, 0.6);
    border-radius: 10px;
}
.cardbox .card img{
    flex: 1;
    height: 100%;
    overflow: hidden;
    /* border: 1px solid green; */
    
    transition: all 0.5s;
}
.cardbox .card img:hover{
    transform: scale(1.1);
    
    
}
.cardbox .card .introduce{
   padding: 10px 15px;
    box-sizing: border-box;
    height: 100%;
    flex: 2;
    /* border: 1px solid red; */
}
.cardbox .card .introduce p{
    font-size: 20px;
    text-indent: 30px;
}
.cardbox .card .introduce h3{
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
}




.page3 .content{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
    height: 80%;
    width: 30%;
    background-color: rgba(255,255,255,0.4);
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 6px 2px rgba(75, 121, 116, 0.6);
    
}

.page3 .content img{
    
    border: 5px solid white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}
.page3 .content .thepast{
    margin-top: 20%;
    /* border: 1px solid red; */
    height: 80%;
}
.page3 .content .thepast h3{
    text-align: center;
    margin: 10px 0px;
    font-size: 30px;
}
.page3 .content .thepast p{
    font-size: 20px;
    text-indent: 30px;
    margin-bottom: 10px;
}