@font-face {
    font-family: "lishu";
    src: url(/列表页/隶书简体/隶书.ttf);
}
*{
    margin: 0px;
    padding: 0px;
}
html{
    width: 100%;
    height: 100%;
}
body{
    font-family: "lishu";
   
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(217,231,255,1) 4%, rgba(227,255,231,1) 100%);
  
}
.common,.recommand{
    margin: 30px auto;
    width: 80%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
h1{
    margin: 20px 0px;
}
.list{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.list li{
    width: 250px;
    
}
.list li a{
    display: block;
    width: 250px;
    height: 250px;
}
.list li a img{
    border-radius: 10px;
    width:250px;
    height: 250px;
}
.list li h2{
    text-align: center;
}

.form{
    width: 80%;
    height: 300px;
    margin: 30px auto;
    border: 1px solid red;
}